
<div class="row">
  <div class="col-sm-4">.
    <div class="myface">
      <%= image_tag "Half_face.JPG", class: "img-circle img-responsive" %>
    </div>
  </div>
  
  <div class="col-sm-8">
    <div>
      <h3>About</h3>
        <p>Hi, I'm Paul Cox and I am changing my path and learning to code.</p>
        <p>You can connect with me on my <a href="https://www.facebook.com/paulcox24">Facebook page</a>.</p>
    </div>
  </div>  
</div>