<div id="home">
  <div class="title">
    <div class="name">Paul Cox</div>
    <span class="dev">Developer</span>
    
  </div>
</div>



<!-- <div class="parallax centered">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back home">
      <h3>This is the back of home</h3>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <h2>This is the base of home</h2>
    </div>
  </div>  
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--deep">
      <h3>This is the deep of projects</h3>
    </div>
    <div class="parallax__layer parallax__layer--back projects">
      <h3>This is the back of projects</h3>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <h2>This is the base of projects</h2>
    </div>
    <div class="parallax__layer parallax__layer--fore">
      <h2>This is the fore of projects</h2>
    </div>
  </div>  
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back about">
      <h3>This is the back of about</h3>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <h2>This is the base of about</h2>
    </div>
  </div>  

</div> -->
