<div id="home">
  <div class="title">
    <div class="name">Paul Cox</div>
    <ul class='list-inline links'>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>  
  </div>
</div>
