<div id="home">
  <div class="title">
    <div class="name">Paul Cox</div>
    <span class="dev">Developer</span>
  </div>
  <ul class='list-inline'>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>  
</div>
