// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.postimage {
    max-width: 600px;
    padding: 5px;
}

/* resize images */
.postimage img {
    width: 100%;
    height: auto;
}