// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// body {
//   background: url("Half_face.JPG") no-repeat center bottom  fixed;
// }

.myface {
    max-width: 450px;
    padding: 10px;
    margin: 0 auto;
}

/* resize images */
.myface img {
    width: 100%;
    height: auto;
}

